@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  --primary-50: #E9F9EF;
  --primary-100: #D3F3DF;
  --primary-200: #A7E8BF;
  --primary-300: #7ADC9E;
  --primary-400: #4ED17E;
  --primary-500: #22C55E;
  --primary-600: #1B9E4B;
  --primary-700: #147638;
  --primary-800: #0E4F26;
  --primary-850: #0A3B1C;
  --primary-900: #072713;
  --primary-950: #031409;

  --secondary: oklch(0.967 0.003 264.542);
  --secondary-50: #E3E3E3;
  --secondary-100: #D4D4D4;
  --secondary-150: #C6C6C6;
  --secondary-200: #B7B7B7;
  --secondary-300: #999999;
  --secondary-400: #7C7C7C;
  --secondary-500: #5E5E5E;
  --secondary-600: #4B4B4B;
  --secondary-700: #383838;
  --secondary-800: #262626;
  --secondary-850: #1C1C1C;
  --secondary-900: #131313;
  --secondary-950: #090909;

  --blue-button: "#3030FF";
  --blue: #007BFF;
  --pass: #00D200;
  --pending: #FFA500;
  --fail: #FF0000;
  --yellow: #ffcc00;
  --gray: #999999;

  --primary: oklch(0.21 0.034 264.665);
  --radius: 0.625rem;
  --sm: 24.6875rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692)
}

@theme inline {
  ----breakpoint-sm: var(--sm);

  --color-pass: var(--pass);
  --color-pending: var(--pending);
  --color-fail: var(--fail);
  --color-blue-button: var(--blue-button);
  --color-blue: var(--blue);

  /* primary shades */
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-850: var(--primary-850);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  /* secondary shades */
  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-150: var(--secondary-150);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-850: var(--secondary-850);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-gray: var(--gray);
  --color-yellow: var(--yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 2.5px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 5px);
  --radius-xl: calc(var(--radius) + 10px);
  --radius-2xl: calc(var(--radius) + 15px);
  --radius-3xl: calc(var(--radius) + 20px);
  --radius-4xl: calc(var(--radius) + 25px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer base {

  option:hover,
  option:focus {
    background-color: #e9f9ef;
  }
}

.dark {

  --background: oklch(0.13 0.028 261.692);

  --foreground: oklch(0.985 0.002 247.839);

  --card: oklch(0.21 0.034 264.665);

  --card-foreground: oklch(0.985 0.002 247.839);

  --popover: oklch(0.21 0.034 264.665);

  --popover-foreground: oklch(0.985 0.002 247.839);

  --primary: oklch(0.928 0.006 264.531);

  --primary-foreground: oklch(0.21 0.034 264.665);

  --secondary: oklch(0.278 0.033 256.848);

  --secondary-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.278 0.033 256.848);

  --muted-foreground: oklch(0.707 0.022 261.325);

  --accent: oklch(0.278 0.033 256.848);

  --accent-foreground: oklch(0.985 0.002 247.839);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.551 0.027 264.364);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0.034 264.665);

  --sidebar-foreground: oklch(0.985 0.002 247.839);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);

  --sidebar-accent: oklch(0.278 0.033 256.848);

  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer components {
  .no-autofill:-webkit-autofill {
    -webkit-text-fill-color: var(--secondary-300);
    -webkit-box-shadow: 0 0 0 1000px transparent insert !important;
    box-shadow: 0 0 0 1000px transparent insert !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
